.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    color: brown;
    margin-top: 100px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container{
    background: url(/src/images/harindranath-reddy-k-j-G2s9j5qAUEI-unsplash.jpg), #1C2B35;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    color: white;
    position: sticky;
    top: 0;
}
.Clear-Cart-button{
        font-size: 20px;
}
.ReviewOrder-button{
    margin-top: 20px;
    background-color: white;
    font-size: 20px;
}